body {
  font-family:'Exo', sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}


h1 {
  padding-top: 30px;
  margin: 10px;
  font-family: 'Silkscreen';
  font-size: 50px;
}

h2 {
  text-align: center;
  font-family: 'Silkscreen';

}

.tech {
  font-family: 'Silkscreen';
  padding-top:200px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom:300px;
}

.tech1 {
  font-family:'Exo', sans-serif;
  text-align: left;
  padding: 20px;
  margin:5px;
  background-color: white;
  color: black;
  border-style: groove white;

}

img {
  float: left;
  width: 40%;
  position: relative;
  max-width: 700px;
  z-index: -1;

}

.content{
  font-size: 45px;
  float: right;
  padding: 10%;
  text-align: right;
  position: absolute;
  min-width: 75%;
  font-family:'Exo', sans-serif;

}


ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #3c3c3c;
  text-align: center;

}

li {
  float: left;
  background-color: #334d4d;
  color: white;
}

li a{
  background-color: #3c3c3c;
  color: white;
  text-decoration: none;
  padding: 10px 50px;
  padding-left: 40px;
  text-align: center;
  display: inline-block;
}

li a:hover {
  background-color:black;
  color: white;
}

.home{
  background-color: lightblue;
  color: black;
}

.active {
  background-color: red;
  color: white;
}
