body {
  font-family:'Exo', sans-serif;
  text-align: left;
  background-color: black;
  color: white;
}

h1 {
  padding: 20px;
  margin: 10px;
  font-family: 'Silkscreen';
  font-size: 50px;
  text-align: center;
  }

p {
  margin-left: 100px;
  margin-right:100px;
  padding:10px;
}

h2 {
    font-family: 'Silkscreen';
    font-size: 30px;
    text-align: center;

}

h3 {
  font-family:'Exo', sans-serif;
  text-align: center;

}

.number {
  padding-right:100px;
  padding-left:100px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: grey;
}

.number2 {
  padding: 20px;
  color: grey;
  text-align: right;

}

div.member {
  background-color: #F0FFFF ;
  color: black;
  text-align: left;
  padding: 5%;
  height: 200px;
  max-width: 1980px;
  float: left;
  font-size-adjust: auto;
  font-family:'Exo', sans-serif;
  border-style: groove;

}

.baseline {
  background-color: #E0EFEF;
  max-width:100%;
  text-align: center;
  color: black;
  border: groove 10px white;
  margin: 20px;
}


.baseline2 {
  background-color: #FFE4E1;
  max-width:30%;
  text-align: center;
  float: right;
  color: black;
  border: groove 10px white;
  margin-right: 20px;

}

iframe {
  height: 920px;
  width: 60%;
  overflow: auto;
  background-color: white;
  max-height: 1000px;
  float:left;
  margin-left:1%;
}

ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #3c3c3c;
  text-align: center;

}

li {
  float: left;
  background-color: #334d4d;
  color: white;
}

li a{
  background-color: #3c3c3c;
  color: white;
  text-decoration: none;
  padding: 10px 50px;
  padding-left: 40px;
  text-align: center;
  display: inline-block;
}

li a:hover {
  background-color:black;
  color: white;
}

.home{
  background-color: lightblue;
  color: black;
}

.active {
  background-color: red;
  color: white;
}
