body {
  font-family: 'Exo', sans-serif;
  text-align: center;
  background-color: black;
  color: white;

}

h1 {
  padding-top: 30px;
  margin: 10px;
  font-family: 'Silkscreen';
  font-size: 50px;
}

.container {
  background-color: white;
  color: black;
  border: groove 10px grey;
  margin: 10px;
  background-image: url(images/1665909641587.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;

}

.intro {
  padding-right: 15%;
  margin:10px;
  text-align: right;
}

video {
  max-width: 45%;
  text-align: left;
  height: 800px;
}

iframe {
  height: 800px;
  width: 50%;
  overflow: auto;
  background-color: white;
  max-height: 800px;
  float: right;
}

  /* NAV */

ul
  {
   position: -webkit-sticky;
   position: sticky;
   top: 0px;
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   background-color: #3c3c3c;
   text-align: center;

 }

 li {
   float: left;
   background-color: #334d4d;
   color: white;
 }

 li a{
   background-color: #3c3c3c;
   color: white;
   text-decoration: none;
   padding: 10px 50px;
   padding-left: 40px;
   text-align: center;
   display: inline-block;
 }

 li a:hover {
   background-color:black;
   color: white;
 }

 .home{
   background-color: lightblue;
   color: black;
 }

 .active {
   background-color: red;
   color: white;
 }
